<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      nouvelle commande : <%= @order.id %> <br>
      client email :<%= @user.email %><br>
      TTV : <%= @order.total_price %><br>
    </p>
  </body>
</html>
