<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      nouvelle commande : <%= @order.id %>
      client mail :<%= @user.email %>
      TTV : <%= @order.total_price %>
      products: 
        boucle ?
    </p>
  </body>
</html>
