

body {
    margin: 0;
    padding: 0;
}

h5, h6 {
    color: rgb(29, 29, 29);
}

/* INDEX */
.masthead {
    background-color: blue ;
}

.products-title {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    color: rgb(53, 53, 53);
}

.products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(133, 133, 133);
    margin-bottom: 4em;
    border-radius: 15px;
}

.kitten-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.product-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.products-section button {
    margin-top: 2em;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 16px;
    background-color: rgb(230, 71, 71);
    border: none;
    border-radius: 15px;
    color: white;
    align-self: center;
}

.products-section button:hover {
    background-color: #666;
    color: white;
}

.product-btn {
    text-decoration: none;
    color: white;
}

.product-btn:hover {
    color: white;
}

.section-btn {
    display: flex;
    justify-content: space-around;
}

.btn-i {
    background-color: transparent !important;
}

.section-btn i {
    color: rgb(230, 71, 71);
    font-size: 1.5em;
}

.section-btn i:hover {
    color:#666
}

.add-button-index {

    margin-top: 2em;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 16px;
    background-color: white;
    border: solid 1px rgb(230, 71, 71);
    border-radius: 15px;
    color: rgb(230, 71, 71);
    align-self: center;
}

.add-button-index:hover {
    border: solid 1px #666;
    color: #666;
}

/* INDEX END */

/* SHOW */

.jumbotron-show {
    margin-bottom: 2em;
    height: 17em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 71, 71);
}

.product-details-section {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.product-details-img {
    width: 30%;
    border-radius: 15px;
    margin-right: 2em;
}

.product-details-text {
    width: 30em;
    margin-top: 6em;
}

.show-button {
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgb(230, 71, 71);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    align-self: center;
}

.show-button:hover {
    background-color: #666;
}
/* NAVBAR */
.uppercase {
    text-transform: uppercase;
font-size: 0.8rem;
font-weight: 700;
letter-spacing: 0.1rem;
color: #666;
}

.header-bg-fx {
    background-color: #666 ;
}
.dropdown-fx:hover {
    color: white;
    border: 1px solid white;
}
/* FOOTER */
footer {
    background-color: rgb(29, 29, 29);
}

#paw {
    transform: rotate(30deg);
}

footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

footer hr {
    color: white;
    width: 80%;
    margin: auto;
}

footer p {
    color: white;
    font-size: 12px;
}

.fa-brands {
    font-size: 1.5em;
    color: white;
}

.socials {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 4em;
}

/* FOOTER END */

/* FORMS */

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

.form-field {
    width: 16em;
    margin-bottom: 1em;
    border-radius: 7px;
    border: 1px solid;
}

.form-field:hover {
    border: 1px solid rgb(230, 71, 71);
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 1em;
}

.form-btn {
    padding: 0.2em 1.5em 0.2em 1.5em;
    background-color: rgb(230, 71, 71);
    border: none;
    border-radius: 15px;
    color: white;
}

.form-btn:hover {
    background-color: #666;
}

.actions2-links {
    width: 16em;
    margin-top: 1em;
    display: flex;
    justify-content: row;
    justify-content: space-between;

}

/* FORMS END */

/* SHOW PANIER */

.cart-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hr-cart {
    width: 80%;

}

.col1-cart {
    width: 25%;
}

.total-cart {
    width: 10em;
    padding: 0.5em;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(230, 71, 71);
}

.kitten-img-cart {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 100%;
}

.total-section {
    width: 80%;
}